body{
    font-family:"Ambroise Std Firmin";
    align-content: stretch;
    background-color: black;
    margin: 0px;
    resize:both;
}
.page1{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./Project_Images/website_background.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment:scroll;
    padding-bottom: 10%;
    
    
}
p,h1,h2,h4{
    text-align: center;
    color: whitesmoke;

}
/*Footer start here*/

footer{
    color: whitesmoke;
    width:100%;
    text-align: center;
    margin: 0px;
    margin-bottom: 1%;
    font-size: 15px;
    position:static;
    display: inline-block;
    border-top: solid 1px;
}

li{
    list-style: none;
    margin: 0px;
    margin-bottom: 2% ;
    font-size: 20px;
    transition: .5s;
    display: inline;
}
.fab{
    margin:0px;
    padding: 15px;
    padding-top: 90px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    
}
li:hover{
    opacity: .5;
    cursor: pointer;
}
footer a{
    color: white;
}

/*Footer end here*/

.header{ /*top Rosewood Coast heading */
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: orange;
    text-align: center;
    padding-top: 3%
        
}
.header a{
    text-decoration: none;
    color: #e3a35f;
}
.header a:hover{
    opacity: .7;
}



h1{  /*main Rosewood Coast heading */
    text-transform: uppercase;
    font-size: 110px;
    font-weight: 400;
    text-shadow: 4px 4px #000000;
    text-align: center;
    word-spacing: 7px;
    
}

#rc_main{
    letter-spacing: -3px;
    word-spacing: 25px;
    padding-bottom: 20%;
}
a#navicon{
    display: none;
}
nav{
    text-align: center;
    font-size: 25px; 
    font-weight: 150;
    word-spacing: 70px;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    padding: 0;
}
nav li{
    font-size: 1em;
}

nav a{
    color:#e3a35f;
     text-decoration: none;
}
nav a:hover{
    opacity:.7;
}
button{
    display: block;
    margin:auto;
    border-color: whitesmoke;
    border-width:thin;
    background-color: transparent;
    color: whitesmoke;
    font-size: 30px;
    font-weight:300;
    padding: 25px;
    border-radius: 12px;     
}
button:hover{
    background-color: gray;
    cursor: pointer;
   
}

.page2{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
   
}
div .we_are{
    font-size: 80px;
    font-weight: 550;
    padding-top: 5px;
}

div #about_band {
    font-size: 20px; 
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    line-height: 2;
    
}
.band_members{
    font-size: 20px; 
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
   
}

.ourstory{
    margin-top: 50px;
    border-color: beige;

}



#Spotify_widget{
    margin-left: 8%;
   
    float: left;
    
    
}
iframe:hover{
    opacity:.7;
    cursor: pointer;
    
}
#Apple_widget{
    margin-right: 8%;
    margin-top: 5px;
    float: right;
    

      
}

#Apple_widget a:hover{
    opacity:.7;
}

.page3{
     background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./project_images/Zack_guitar.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top;
    background-attachment:scroll;
    padding-top: 20px;
    padding-bottom: 400px;
    display: block;
    text-align: center;

}
#Tour_Dates{
    font-size: 100px;
    text-align: center;
    
}
#bandsintown{
    font-family: "Ambroise Std Firmin";
    font-weight: 200;
    line-height: 2;
    margin: 2%;
 
    
    
         

}
#bandsintown a{
    font-size: 20px;
    font-family: "Ambroise Std Firmin";
    font-weight: 200;
    line-height: 2;
    
    
}
#bandsintown a:hover{
    opacity: .7;
}

.page3 p{
    font-size: 20px;
    padding-bottom: 20px;
}



/*FRONT PAGE ENDS HERE/*

/*CONTACT US PAGE BEGINS HERE*/
#contact_page{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./project_images/contact_background.jpg);
    background-attachment: scroll;
    background-position:center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    margin: 0px;
    
    
    
}

.Contact_Us{
    font-size: 100px;
    font-weight: 200px;
    padding-bottom: 190px;
    
    

}
#contact_text{
    font-size: 20px;
    width: 48%;
    padding-bottom: 40px;
    display: absolute;
    top: 0;
    text-shadow: 2px 2px #000000;
    
}
#contact_text a{
    text-decoration: none;
    color:whitesmoke;
}
#contact_text a:hover{
    opacity: .7;
}


.form_area{
    text-align: center;
    padding-top: 70px;
   
    
    
}

input{
    width: 50%;
    border: 2px solid grey;
    border-radius: 8px;
    font-family: "Ambroise Std Firmin";
    font-size: 20px;
    
}
label{
    color: whitesmoke;
    font-size: 25px;
    display: block;
    text-align: left;
    margin-left: 25%;
    padding-bottom: 4px;  
    
}
#fname{
    padding: 10px 10px;

}
#lname{
    padding: 10px 10px;
}
#email{
    padding: 10px 10px;
}
#subject{
    padding: 10px 10px;
}
#message{
    padding: 10px 10px;
    width: 50%;
    border: 2px solid grey;
    border-radius: 8px;
    font-family: "Ambroise Std Firmin";
    font-size: 20px;
    
    
}

#submit{
    padding: 25px 25px;
    font-size: 30px;
    background-color: black;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    width: 25%;
    
    
    
    
    
}
#submit:hover{
    opacity: .6;
    cursor: pointer;
}
/*CONTACT US PAGE ENDS HERE*/
/* MERCH PAGE BEGINS HERE*/
#merch_page{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./project_images/merch_head.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;
}
.merch{
    text-shadow: 8px 8px #000000;
    text-align: center;
    font-size:100px;

}
#shirt_picture{
    width: 100%
}
#teeshirt{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: whitesmoke; 
}
#rosewoodcoasttee a{
    text-decoration: none;
    
    
}
#rosewoodcoasttee:hover{
    opacity: .7;
}    
#rosewoodcoasttee{
    text-align: center;
    list-style: none;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 0px;
    

 
}

/* MERCH PAGE ENDS HERE*/
/*Tee Shirt Page Starts Here*/

.rosewood_coast_tee{
    font-size: 200px;
    padding: 0 80 0 80;
}






/*Tee Shirt Page Starts Here*/



/*Music page Starts Here*/

#music_page{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./project_images/studio_picture.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: ;
    background-attachment:scroll;
    min-height: 100%;
    min-width: 1024px;
    
    
}
#listen_now{
    text-shadow: 4px 4px #000000;
    font-weight: 200;
    font-size: 100px;  
    padding-bottom: 210px;
    margin-bottom: 6px;
}
#playlists{
    text-align: center;
}
#feel_again{
    float:left;
    margin-left: 6%;
    
    
}

#album{
    float: right;
    margin-right: 6%;
    
   

}


/*Music page ends here*/
/*Media page begins here*/
#social_media{
    font-size: 90px;
}
#lyric_video{
    float:left;
    align-content: center;
    margin-left: 5%;
    padding-bottom: 70px;
    width: 40%;

}
#shallow{
    float:right;
    align-content: center;
    margin-right: 5%;
    
    padding-bottom: 70px;
    width: 40%;
}
#news_section{
    clear: both;
    border-top: 3px solid silver;
    border-bottom: 3px solid silver;
    
    
}
#news_section a{
    margin: 0px;
   
    
}
#news{
    clear:both;
    text-align: center;
    font-size: 90px;
    font-weight: 100;
    
}
.news_tile {
    clear: both;
    display:inline-grid;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 30%;
    padding: 0px;
    margin: 0px 95px 95px 125px;
  
    
    
}
.news_tile a{
    
    text-decoration: none;
    color: whitesmoke;
    
}


.media_tile1{
     width: 100%;
    height:250px;
     
    
}

.media_tile2{
     width: 100%;
    height:250px;
    
 
 
}
.media_tile3{
   width: 100%;
    height: 250px;
    
    
 
}
.media_tile4{
   width: 100%;
    height:250px;
      
    
}




/*Media page ends here*/

/*OUR STORY PAGE BEGINS HERE*/

#our_story_page{
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
    display: block;
    overflow: hidden;
    
}
#our_story{
    font-size: 90px;
    
}
#top_image img{
    float: left;
    width: 35%;
    height: 100%;
    margin-left: 6%; 
    padding-right: 30px;
    height: auto;
    
}
#Born_to_perform{
    font-size: 30px;
    font-weight: 110;
    float: right;
    width: 48%;
    text-align: left;
    margin-right: 6%;
    margin-top: 0px;
    

}
#our_story p{
    font-size: 20px; 
    margin-right: 6%;
    float: right;
    width: 48%;
    text-align: left;
    line-height: 2;

    
    
}
#our_story_left p{
    font-size: 20px; 
    margin-left: 6%;
    float: left;
    width: 48%;
    text-align: left;
    line-height: 2;
    

    
    
}
#bottom_image img{
    float: right;
    width: 35%;
    height: 100%;
    margin-right:6%;
}





/* ===============================
   Mobile Styles: px -- px Mobile Nav Bar
   ===============================
*/
@media only screen and (max-width: 850px){
    a#navicon {   
    display: block;
    margin-left: 3%;
    margin-top: 2%;
    position: fixed;
    color: rgba(255,255,255,0.8);
    font-size: 1.2em;
    border-radius: 20%;
    z-index: 998;
}
 
    
nav ul {
    display: none;
    background: #e3a35f;
    opacity: .8;
    width:100px;
    float: left;
    text-align: left;
    margin-left: 2%;
    border: solid rgba(145,145,155,.9);
    border-radius: 5%;
    padding: 2%;
    padding-left: 2%;
    margin-top: 50px;
    margin-bottom: 10%;
    line-height: 1.2em;
    position: absolute;
    z-index: 999;
    text-shadow: .8px .3px #000000; 
    
}
nav ul li{
    padding-top: 0;
}

 
nav ul a{
    text-decoration: none;
    text-decoration-line: underline;
    color: ghostwhite;
}
nav ul a:hover{
    color: black;
    opacity: 1;
}
    
    
a#navicon:hover+ul, nav ul:hover{  
    display: block; 
}
   
    
    
    
    
}




/* ===============================
   Mobile Styles: 0px -- 450px 
   ===============================
*/
@media only screen and (max-width:1152px){
     h1, #rc_main,#Tour_Dates{
        font-size: 2.4em;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
         letter-spacing: 0px;
         text-align: center;
        
    }
    script{
        width: 70%;
    }
    #rc_main{
        margin-bottom: 40%;
        line-height: .9;
    }
    .page1{
        min-width: 200px;
        width: 100%;
        padding-bottom: 20%;
    }
    h2{
        font-size: 20px;
    }
    button{
        font-size: 15px;
        padding: 15px;
    }
    
    div .we_are{
        font-size: 2.7em;
    }
    div #about_band, .band_members {
    font-size: 20px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 60px;
    line-height: 2;
    
}
    .band_members{
        padding-bottom: 30px;
    }
    .ourstory{
    display: none;

}



#Spotify_widget, #Apple_widget{
    margin-left:auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 8%;
    float: none;
    text-align: center;
    
}
    #bandsintown{
    font-family: "Ambroise Std Firmin";
    font-weight: 200;
    line-height: 2;
    margin: 2%;
 
    
    
         

}
#bandsintown a{
    font-size: 15px;
    font-family: "Ambroise Std Firmin";
    font-weight: 200;
    line-height: 2;
    
    
}
    .page3{
        background-position: center;
        padding-bottom: 200px;
    }
.page3 p{
    font-size: 15px;
    padding-bottom: 20px;
}
    #Tour_Dates{
        width: 100%;
    }
    footer .fab {
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
    }
    footer ul{
        padding-left: 0;
    }
    footer{
        margin-bottom: 5%;
    }
    
    
    
    .Contact_Us, .merch, #listen_now, #social_media, #news, #our_story{
    font-size: 2.9em;
    font-weight: 200px;
    padding-bottom: 90px;
    margin-top: 0px;
    padding-top: 20%;
    text-shadow: 4px 4px #000000;
}
#rc_main{
    margin-top: 10%;
}
    #contact_page{
        min-width: 200px;
        background-position: center;
    }

    input, #message{
        width: 90%;
    }
    #submit{
        width: 50%;
        margin-bottom: 60px;
    }
    #contact_text p{
    font-size: 20px;
    width: 90%;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

    #contact_page{
        padding-bottom: 40px;
    }

.form_area{
    padding-top: 40px;
}
    
    #merch_page{
        padding-bottom: 50px;
    }
    
    #rosewoodcoasttee{
    text-align: center;
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 0px;
 
}
    #music_page{
        min-width: 200px;
        background-position: center;
    }
#feel_again{
    float:none;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

    
    
}

#album{
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

}
    
    
    
#shallow, #lyric_video{
    float:none;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
    width: 90%;
    
    }
    
    #news_section ul{
        padding: 0;
    }
    
    #news_section h2, #our_story{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .news_tile {
    clear: both;
    display:block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 70%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  
    }
    
    
    
    
    #top_image img,#bottom_image img{
    display: none;
    
    }
    #Born_to_perform{
        font-size: 25px;
        font-weight: 110;
        float: none;
        width: 80%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;


    }

    #our_story p, #our_story_left p{
        font-size: 20px; 
        margin-right: auto;
        margin-left: auto;
        float: none;
        width: 90%;
        text-align: center;
        line-height: 1.5;

    }

        #social_media{
            margin-bottom: 0px;
            padding-top: 30px;
    }


}


/* ===============================
   Mobile Styles: 451px -- px 
   ===============================
*/
@media only screen and (min-width: 451px) and (max-width:1152px) {
    
    body{
        font-size: 1.5em;
    }
    button{
    font-size: .8em;
    font-weight:200;
    padding: 25px;
    border-radius: 12px;
    }
    #Spotify_widget{
    margin-left: 2%;
    float: left;   
    margin-top: 5%;
    width: 5%;
    }
    
        .page1{
            padding-bottom: 20%;
        }
    
        .page2{
            margin-bottom: 10%;
        }
    
    #Apple_widget{
        margin-right: 2%;
        margin-top: 5%;
        float: right;



    }
    
}



/* ===============================
   Mobile Styles: 699px -- px 
   ===============================
*/
@media only screen and (min-width: 699px) and (max-width:1152px){
     body{
        font-size: 1.9em;
    }
    #rc_main{
     margin-bottom: 5%;
    }
    
    #top_image img{
        display: block;
        float: left;
        width: 35%;
        height: 100%;
        margin-left: 6%; 
        padding-right: 30px;
        height: auto;
    }
    
    #Born_to_perform{
        font-size: 30px;
        font-weight: 110;
        float: right;
        width: 48%;
        text-align: left;
        margin-right: 6%;
        margin-top: 0px;

    }
    
    #our_story p{
        font-size: 20px; 
        margin-right: 6%;
        float: right;
        width: 48%;
        text-align: left;
        line-height: 2;



    }
    #our_story_left p{
        font-size: 20px; 
        margin-left: 6%;
        float: left;
        width: 48%;
        text-align: left;
        line-height: 2; 

    }
    #bottom_image img{
        display: block;
        float: right;
        width: 35%;
        height: 100%;
        margin-right:6%;
    }


    .news_tile{
        width: 60%;
    }
    
    #lyric_video, #shallow{
        width: 75%;

    }
    
    input, #message{
        width: 80%;
    }
    
    label{
        margin-left: 8%;
        padding-bottom: 4px;  

    }
    
    nav li{
        font-size: .7em;
    }  

}



/* ===============================
   Mobile Styles: 850px -- px 
   ===============================
*/
@media only screen and (min-width: 851px) and (max-width:1152px){
    
    #rc_main{
        width: 100%;
         margin-bottom: 15%;
    }
   
    .Contact_Us, .merch, #social_media, #news, #our_story{
        padding-top:5%;
        padding-bottom: 20%;
    }
    
    #listen_now{
        padding-bottom: 25%;
        padding-top: 0%;
    }
    
    #playlists{
    text-align: center;
    padding-top: 5%;
    }
    
    #feel_again{
        float:left;
        margin-left: 4%;
        margin-right: 1%;
        width: 45%;
        padding-bottom: 5%;
    }

    #album{
        float: right;
        margin-right: 4%;
        margin-left: 1%;
        width: 45%;
        padding-bottom: 5%;

    }
 
}





/* ===============================
   Mobile Styles: 1000px -- px 
   ===============================
*/
@media only screen and (min-width: 1050px) and (max-width:1152px){
    
    body{
        font-size: 2.25em;
    }
    nav li{
        font-size: .9em;
    }
  

    .news_tile {
        clear: both;
        display:inline-grid;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        width: 30%;
        padding: 0px;
        margin: 0px 85px 95px 115px;   
    }

    .media_tile1{
         width: 100%;
        height:250px;  
    }

    .media_tile2{
         width: 100%;
        height:250px;

    }
    .media_tile3{
       width: 100%;
        height: 250px;
    }
    .media_tile4{
       width: 100%;
        height:250px; 
    }


        .Contact_Us, .merch, #social_media, #news, #our_story{
            padding-bottom: 0%;
        }

        #rc_main{
     margin-bottom: 5%;
        }
}

