@charset "utf-8";

/*  Kali Marsh StyleSheet
    Filename: style.css
*/

html{
    background: rgba(204,204,255,.9);
}
body{
    font-family: "Playfair Display", "Georgia", serif;
    margin: 0px;
    color: ghostwhite;
    text-align: center; 
    background: linear-gradient(rgba(230,230,235,0.7), rgba(85,85,85,0.3));
}

header{
    background-color: rgba(204,204,255,1);
}
#welcome_page header{
    background-color: rgba(204,204,255,0);
}



/*NAVIGATION DISPLAY*/
a#navicon {   
    display: block;
    margin-left: 3%;
    margin-top: 5%;
    position: fixed;
    color: rgba(255,255,255,0.8);
    font-size: 2em;
    border-radius: 20%;
    z-index: 998;
}
    
nav ul {
    display: none;
    background: rgba(204,204,255,1);
    width:85px;
    float: left;
    text-align: left;
    margin-left: 2%;
    border: solid rgba(204,204,255,.9);
    border-radius: 5%;
    padding: 2%;
    padding-left: 2%;
    margin-top: 50px;
    margin-bottom: 10%;
    font-size: 1.2em;
    line-height: 1.7em;
    position: absolute;
    z-index: 999;
    text-shadow: .8px .3px #000000; 
}
nav ul li{
    padding-top: 0;
}

 
nav ul a{
    text-decoration: none;
    text-decoration-line: underline;
    color: ghostwhite;
}
nav ul a:hover{
    color: black;
    opacity: 1;
}
    
    
a#navicon:hover+ul, nav ul:hover{  
    display: block; 
    
}





/*GENERAL STYLES*/
/*Welcome page starts here*/
#welcome_page{
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),url(../images/kali_img28.JPG);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 90%;
}

h1, #body_content h1{
    font-size: 2.7em; 
    padding-top: 3%;
    text-shadow: 2px 1px #000000;
    letter-spacing: .05em;
    
}
h2{
    font-size: 1em;
    padding-top: 1%;
    text-shadow: 1px 1px #000000;
}

#middle_page{

    padding-bottom: 4%;
    
}

    #short_bio{
        line-height: 1.3em;
    }
.about_bottom_img{
    width: 45%;
    padding: 1.5%;
}

h3, p{
    color: black;
    padding-top: 3%;
}
p{
    padding-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
}
blockquote{
    color: black;
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

}

#index_photos{
        display: flex;
        margin: 3%;
    }
#index_img{
        flex: 33%;
        margin-left: .5%;
        margin-right: .5%;
    }
.index_bottom_img{
        width: 100%;
    }


#short_bio a{
    font-style: italic;
    color: rgb(255,255,204);
}
#short_bio a:hover{
    opacity: .7;
}
header:hover ~ #welcome_page{
    opacity: .07;
}




/*Bio Page starts here*/

#body_content{
   
    padding-bottom: 10%;
    
}

#about_side_img{
    max-width: 90%;
    border-radius: 5px;
    padding-bottom: 2%;
    padding-top: 10%;
}
#body_content p{
    padding-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.3em;
    max-width: 90%;
}
#resume_button{
    text-decoration: none;
    border: solid rgba(255,255,204,.8);
    border-radius: 1em;
    color: black;
    background-color: rgba(255,255,204,.8);
    padding: 3%;
    text-shadow: none;
}
#resume_button:hover{
    opacity: .6;
}

.row_about {
  display: flex;
  flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 0%;
    align-items: center;
    justify-content: center;
}

.column_about {
  flex: 50%;
  max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}


.column_about img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}
 #about_side_full_img, .about_bottom_img_full, .full_row_about{
        display: none;
    }
header:hover ~ #body_content{
    opacity:.07;
}






/*Photos page starts here*/

.row {
  display: flex;
  flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 0%;
    padding-bottom: 10%;
    align-items: center;
    justify-content: center;
}

.column {
  flex: 45%;
  max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4px;
}


.column img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
figcaption{
    font-size: .8em;
    border: solid gray;
    border-top: none;
    border-width: thin;
    margin-bottom: 5%;
    margin-top: -3%;
    padding: 3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}
header:hover ~ .row{
    opacity:.07;
}


/*Video page starts here*/
.column_videos iframe{
    padding: 0em 0em;
    width: 90%;
    height: 20em;
    
}

hr{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
header:hover ~ .row_videos{
    opacity:.07;
}
.row_videos{
    margin-top: 10%;
    padding-bottom: 10%;
}





/*Resume page starts here*/
#resume_heading{
    margin-bottom: 10%;
}
.download_buttons{
    border: solid;
    border-radius: 10px;
    border-color: rgb(255,255,204);
    padding: 1% .4%;
    margin: 0%;
    background: rgba(255,255,204,.8);
    font-size: 1em;
    color: black;
   
    
}

.download_buttons a{
    text-decoration: none;
}
.download_buttons:hover{
    opacity: .6;
}

#screen_resume{
    width: 85%;
    margin-bottom: 10%;
    margin-top: 10%;
    box-shadow: 1px 2px #707070;
}

header:hover ~ #resume_page {
    opacity: .07;
}


/*Contact Page starts here*/
#contact_heading{
    margin-bottom: 5%;
    
}
header:hover ~ #contact{
    opacity: .07;
}

#side_image_contact{
    width: 85%;
    
}

#email_text{
    font-size: 1em;
}
#email_text a:hover{
    opacity: .7;
}

#email_text a{
    color: ghostwhite;
    text-decoration-line: underline;
    
}

.form_area{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
 
}
.form_area h2{
    color: black;
    font-size: 1.8em;
    padding: 2%;
    text-shadow: none;
    margin-bottom: 2%;
    margin-top: 2%;
}
input{
    width: 80%;
    border: 2px solid grey;
    border-radius: 8px;
    font-family: "Ambroise Std Firmin";
    font-size: 1em;
    
    
}
label{
    color: ghostwhite;
    font-size: 1.3em;
    display: block;
    text-align: left;
    margin-left: 6%;
    padding-bottom: 4px;  
    margin-top: 2%;
  
    
}
#name{
    padding: 10px 10px;

}
#email{
    padding: 10px 10px;
}
#subject{
    padding: 10px 10px;
}
#message{
    padding: 10px 10px;
    width: 80%;
    border: 2px solid grey;
    border-radius: 8px;
    font-family: "Ambroise Std Firmin";
    font-size: 1em;
    
    
}

#submit{
    padding: 12px 12px;
    font-size: 1.8em;
    background: none;
    color: ghostwhite;
    border: 3px solid ghostwhite;
    width: 60%;
    margin-top: 5%;
    text-shadow: 1px 1px #000000;
    
}
#submit:hover{
    opacity: .6;
    cursor: pointer;
}



/*Footer start here*/

footer{
    width:100%;
    text-align: center;
    margin: 0px;
    padding-top: 3%;
    margin-bottom: 1.5%;
    position:static;
    display: inline-block; 
    border-top: solid 1px white;
    background: linear-gradient(rgba(85,85,85,0.3),(230,230,235,0.5));
}
footer p{
    color: ghostwhite;
    font-size: .7em;
    padding-bottom: 0%;
    
}

li{
    list-style: none;
    margin: 3%;
    padding-top: 15%;
    margin-bottom: 3% ;
    font-size: 1.2em;
    transition: .5s;
    display: inline;
}

.fab{
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

li:hover{
    opacity: .5;
    cursor: pointer;
}

footer a{
    color: ghostwhite;
}





/* ===============================
   Small Mobile Styles: 530px -- 652px 
   ===============================
*/
@media only screen and (min-width: 530px) and (max-width:652px){
    #welcome_page{
    padding-bottom: 70%;
}
    body{
    font-size: 1.1em;
    }

    nav ul{
    width:100px;
    margin-top: 60px;
    }
    h1, #body_content h1{
        font-size: 2.9em;
    }
}

/* ===============================
   Mobile Styles: 653px -- 820px
   ===============================
*/
@media only screen and (min-width: 652px){
    #welcome_page{
    padding-bottom: 48%;
}
    body{
    font-size: 1.2em;
    }
    nav ul{
        margin-top: 65px; 
        width: 110px;
        line-height: 1.7em;
    }
    #body_content p{
    margin-left: 8%;
    margin-right: 8%;
    line-height: 1.3em;
}
    #short_bio{
        margin-left: 8%;
        margin-right: 8%;
        line-height: 1.3em;
    }
    h1, #body_content h1{
    padding-top: 3%;
    text-shadow: 3px 2px #000000;
    letter-spacing: .05em;
    font-size: 3.1em;
        
}
    h2{
    padding-top: 1%;
    text-shadow: 2px .5px #000000;
}
    #resume_button{
    padding: 4%;
    text-shadow: none;
}
    download_buttons{
    padding: 2% 0%;

}

}


/* ===============================
   Mobile Styles: 759px -- px    for youtube video final size
   ===============================
*/
@media only screen and (min-width: 759px){
.column_videos iframe{
    width: 683.094px;
    height: 384px;
    
}
}
/* ===============================
   Mobile Styles: 820px -- px
   ===============================
*/
@media only screen and (min-width: 820px){
    #welcome_page{
    padding-bottom: 40%;
    background-position: top;
}
    .download_buttons{
    margin: 5%;
}  
    a#navicon {   
    display: none;
}


       
nav ul {
    display: inline-block;
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    border: none;
    padding: 0px;
    float: none;
    margin-top: 0%;
    margin-bottom: 0%; 
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-size: 1em;
    line-height: 0;
}
    nav ul li{
    padding-top: 0;
}
    nav ul a{
    text-decoration-line: none;
    }
    h1, #body_content h1{
    font-size: 3.7em;
    padding-top: 2%;
    }
   header:hover ~ .row_videos{
    opacity: 1;
}
    header:hover ~ .row{
    opacity: 1;
}
    header:hover ~ #resume_page {
    opacity: 1;
}
    header:hover ~ #body_content{
    opacity:1;
}
   

    
    header:hover ~ #contact{
    opacity: 1;
}
    
    
}

/* ===============================
   Mobile Styles: 925px -- px      
   ===============================
*/
@media only screen and (min-width: 925px){
/* home page below*/

    
    
    
    
/*    About page below*/
    #resume_button{
    text-shadow: none;
    padding: 2.5% 1.5%;
}
    #about_side_img, .about_bottom_img_mobile{
        display: none;
    }
    #about_side_full_img{
        display: block;
        width: 100%;
        margin-right:auto;
        margin-left: auto;
    }
    
    #body_content p{
        margin-left: auto%;
        margin-right: auto;
        text-align: left;
        padding-top: 0px;
        
    }
    #body_content{
        padding-bottom: 2%;
    }
    
    #body_columns{
        display: flex;
        margin-bottom: 3%;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 5%;
        padding-bottom: 4%;
        
    }
    #about_img, #about_text{
        flex:50%;
    }
    
    .row_about {
    display: none; 
    
    }

    .full_row_about{
        display: flex;
        column-gap: .7em;
        margin: 3%;
        padding-top: 4%;    
    }
    
    .full_column_about {
        flex: 33%;
        margin-left: .5%;
        margin-right: .5%;
        
    }
    .full_about_bottom_img {
        width: 100%;
           
    }
    
    
    
/*    videos page below*/
    .row, .row_videos{
        margin-top: 7%;
    }
    figcaption{
        font-size: 1em;
    }
    
    
    
/*    resume page below*/
    #screen_resume{
        width: 75%;
    }
    .download_buttons{
    padding: 2.5% 1.5%;
} 
    
    
/*    contact page below*/
    #contact{
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        margin-bottom: 10%;
    }
    #keep_together{
        width: 100%;
        flex: 50%;
    }

    #side_image_contact{
        width: 100%;
        margin-top: 25%;
        
    }
    #email_text{
        margin-top: 4%;
    }
    .form_area h2{
      display: none;
    }
    .form_area{
        flex: 50%;
        margin-bottom: 0%;     
    }
    label{
        margin-top: 2.5%;    
    }
    #message{
        height: 15em;
    }
 
    #submit{
        margin-top: 5%;
        
    }
    
}





/* ===============================
   Full Styles: 1140px -- px     increase text size everywhere, increase fab size
                                    decrease body width and home screen picture
   ===============================
*/
@media only screen and (min-width: 1140px){

   #welcome_page{
    padding-bottom: 31%; 
}
    body{
        font-size: 1.4em;
    }
    #body_content{
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    #resume_button{
        padding: 2.5% 1.5%;
        font-size: 1em;
    }
     #screen_resume{
        width: 70%;
    }
}






/* ===============================
   Full Styles: 1400px -- px     
   ===============================
*/
@media only screen and (min-width: 1400px){
  
    
    
    
    
    
}
